<!DOCTYPE HTML>
<html classes="index" manifest="/cache.manifest?====">
  <head>
    <meta charset="utf-8">
    {{> meta}}
    <title>{{title}}</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{disc}}">
    <link rel="stylesheet" href="http://img.taotaosou.cn/tts-mobile/v7/0.0.1/styles/index.css"/>
    <script type="text/javascript" name="baidu-tc-cerfication" data-appid="1860714" src="http://apps.bdimg.com/cloudaapi/lightapp.js"></script>
    {{> ga}}
  </head>
  <body class="body-index">

    <div id="wrapper">
      <header id="header">
        <a href="javascript:window.history.go(-1);" id="mBack"></a>
        <h1>淘淘搜</h1>
        <!-- <span class="bar-more" id="navigationBar"></span> -->
      </header>
      
      <section class="topbar">
        <span class="top-logo"></span>
        <span class="top-setting"><a href="{{setting_url}}"></a></span>
        <div class="top-search">
          <!-- <div class="search"> -->
            {{> search}}
            <!-- <form action="" method="post"> -->
              <!-- <input type="text" class="input-search"> -->
              <!-- <input type="submit" value="" id="serchSubmit"> -->
            <!-- </form> -->
          <!-- </div> -->
        </div>
      </section>

      <!-- 广告位 -->
      <section id="focusImg">
        <div id="focusWrap" class="swipe" style="visibility: visible;">
          <div class="swipe-wrap" data-ga="首页|banner">
            
          </div>
        </div>
        <ul id="focusCtrol" class="clearfix"></ul>
      </section>
      

      <!-- 分类 -->
      <section class="index-category">
        <ul class="clearfix">
          <li class="item">
            <a data-ga="首页|菜单栏|分类" href="{{link.category}}">
              <i class="category"></i>
              <p>分类</p>
            </a>
          </li>
          <li class="item">
            <a data-ga="首页|菜单栏|搭配" href="{{link.dapei}}">
              <i class="dapei"></i>
              <p>搭配</p>
            </a>
          </li>
          <li class="item">
            <a data-ga="首页|菜单栏|团购" href="{{link.tuan}}">
              <i class="tuan"></i>
              <p>团购</p>
            </a>
          </li>
          <li class="item">
            <a data-ga="首页|菜单栏|九块九" href="{{link.promotion}}">
              <i class="promotion"></i>
              <p>九块九</p>
            </a>
          </li>
        </ul>
      </section>


      <!-- 精品推荐 -->
      <section class="recommend">
        <section class="recommend-box" data-ga="首页|广告位">
         
        </section>
      </section>

      
      <section class="navbar">
        <ul class="clearfix" id="">
          <li data-ga="首页|tab切换" data-type="dress" class="action columns-4">搭配</li>
          <li data-ga="首页|tab切换" data-type="592" class="columns-4">男装</li>
          <li data-ga="首页|tab切换" data-type="591" class="columns-4">女装</li>
          <li data-ga="首页|tab切换" data-type="579" class="columns-4">鞋包</li>
        </ul>
      </section>



      <section class="category-list">
        <section class="column-wrap clearfix">
          <ul class="ul">
          {{#each list}}
            {{#mode @index 0}}
              <li class="column-box load">
                <figure>
                  <a data-ga="首页|搭配标签点击" href="{{url}}">
                    <img src="http://img.taotaosou.cn/tts-mobile/v7/0.0.1/images/common/ajax_load.gif" data-origin="{{imagePath}}" alt="" class="img">
                  </a>
                </figure>
                <div class="avatar">
                  <a href="{{link}}">
                    <span class="pic"><img src="{{avatar}}" alt=""></span>
                    <span class="name">{{userNick}}</span>
                  </a>
                </div>
                <figcaption class="tit">{{albumTitle}}</figcaption>
                <a data-ga="首页|搭配标签点击" href="{{url}}" class="goto-dress"><i></i>{{#if count}}{{count}}{{else}}0{{/if}}组搭配</a>
              </li>
            {{/mode}}
          {{/each}}
          </ul>

          <ul class="ul">
          {{#each list}}
            {{#mode @index 1}}
              <li class="column-box load">
                <figure>
                  <a data-ga="首页|搭配标签点击" href="{{url}}">
                    <img src="http://img.taotaosou.cn/tts-mobile/v7/0.0.1/images/common/ajax_load.gif" data-origin="{{imagePath}}_280x280.jpg" alt="" class="img">
                  </a>
                </figure>
                <div class="avatar">
                  <a href="{{link}}">
                    <span class="pic"><img src="{{avatar}}" alt=""></span>
                    <span class="name">{{userNick}}</span>
                  </a>
                </div>
                <figcaption class="tit">{{albumTitle}}</figcaption>
                <a data-ga="首页|搭配标签点击" href="{{url}}" class="goto-dress"><i></i>{{#if count}}{{count}}{{else}}0{{/if}}组搭配</a>
              </li>
            {{/mode}}
          {{/each}}
          </ul>
        </section>
      </section>



      <!-- <section class="index-foot">
        <ul class="clearfix">
          <li><a href="http://m.taotaosou.com">电脑版</a></li>
          <li><a href="http://m.taotaosou.com/about">联系我们</a></li>
          <li><a href="http://m.taotaosou.com/about">关于淘淘搜</a></li>
        </ul>
      </section> -->

    </div>
    {{> apps}}
    
    <script src="http://img.taotaosou.cn/tts-mobile/v7/0.0.1/scripts/base.js"></script>
    
    <script src="http://img.taotaosou.cn/tts-mobile/v7/0.0.1/scripts/index.js"></script>
  </body>
</html>